<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="#">
            <span class="align-middle">AdminKit</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                GO TO
            </li>

            <li class="sidebar-item"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                >
                <a class="sidebar-link" routerLink="/">
                    <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item"
                routerLinkActive="active">
                <a class="sidebar-link" 
                    routerLink="/login">
                    <span class="align-middle">Login</span>
                </a>
            </li>

            <li class="sidebar-item"
                routerLinkActive="active">
                <a class="sidebar-link" 
                    routerLink="/register">
                    <span class="align-middle">Register</span>
                </a>
            </li>

            <li class="sidebar-item"  
                routerLinkActive="active">
                <a class="sidebar-link" 
                    routerLink="/users">
                    <span class="align-middle">Users</span>
                </a>
            </li>

            <li class="sidebar-item"
                routerLinkActive="active">
                <a class="sidebar-link" 
                    routerLink="/products">
                    <span class="align-middle">Products</span>
                </a>
            </li>

            <!-- <li class="sidebar-item"
                routerLinkActive="active">
                <a class="sidebar-link" 
                    routerLink="/products">
                    <span class="align-middle">Market Place</span>
                </a>
            </li> -->

            <!-- <li class="sidebar-item"
                routerLinkActive="active">
                <a class="sidebar-link" 
                    routerLink="/cart">
                    <span class="align-middle">Cart</span>
                </a>
            </li>

            <li class="sidebar-item"
                routerLinkActive="active">
                <a class="sidebar-link" routerLink="/charts">
                    <span class="align-middle">Charts</span>
                </a>
            </li> -->
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.
                </div>
                <div class="d-grid">
                    <a href="#" class="btn btn-primary">Upgrade to Pro</a>
                </div>
            </div>
        </div>
    </div>
</nav>